src/**/target
src/*/node_modules
src/*/dist
node_modules
**/target
**/.gradle
**/.cxx
**/build
**/.swiftpm
**/.build
**/Package.resolved
**/local.properties
**/.kotlin
**/captures
**/intermediates
**/generated
**/tmp
crates/native-ffi/react-native/android/.cxx
crates/native-ffi/react-native/android/build
crates/native-ffi/android/.gradle
crates/native-ffi/android/build
crates/native-ffi/ios/Frameworks
